In [3]:
import pandas as pd
from tools import all_data_concat

all_data = all_data_concat()
# 欄位`乘車日期`是數字格式,要轉成日期格式
all_data['乘車日期'] = pd.to_datetime(all_data['乘車日期'], format='%Y%m%d')

# 取出日期的年份,建立一個新的欄位`年份`
all_data['年份'] = all_data['乘車日期'].dt.year

# 取出期期的月份,建立一個新的欄位`月份`
all_data['月份'] = all_data['乘車日期'].dt.month

all_data.head()

             乘車日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址    年份  月份
173648 2019-04-23  6100    22    16   東里  花蓮縣富里鄉東里村大莊路 15 之 6 號  2019   4
173623 2019-04-23  5070   533   424   南州      屏東縣南州鄉仁里村仁里路 86 號  2019   4
173624 2019-04-23  5080    15    14   鎮安       屏東縣林邊鄉鎮安村永和路 4 號  2019   4
173625 2019-04-23  5090   368   325   林邊      屏東縣林邊鄉仁和村仁愛路 33 號  2019   4
173626 2019-04-23  5100    95    95   佳冬        屏東縣佳冬鄉六根村復興路21號  2019   4

In [4]:
df1 = all_data.groupby(['車站名稱','年份','月份'])[['進站人數','出站人數']].agg([('平均', 'mean'), ('總和', 'sum')])
df1

                     進站人數                 出站人數
                       平均      總和           平均      總和
車站名稱 年份   月份
七堵   2019 4   5838.875000   46711  5977.125000   47817
          5   6012.903226  186400  6160.806452  190985
          6   5795.100000  173853  5908.066667  177242
          7   5889.322581  182569  6135.419355  190198
          8   5569.258065  172647  5763.806452  178678
...                   ...     ...          ...     ...
龜山   2023 8     74.774194    2318    76.709677    2378
          9     79.933333    2398    79.766667    2393
          10    85.806452    2660    86.096774    2669
          11    85.433333    2563    86.466667    2594
          12    99.709677    3091    90.129032    2794

[13619 rows x 4 columns]

In [10]:
# 取得多重索引的資料,例如:七堵車站,2020年的資料
df1.loc[('七堵',2020)]

           進站人數                 出站人數
             平均      總和           平均      總和
月份
1   5557.870968  172294  5769.580645  178857
2   4933.965517  143085  5049.275862  146429
3   5263.677419  163174  5354.935484  166003
4   4854.766667  145643  4928.666667  147860
5   5266.774194  163270  5339.709677  165531
6   5561.266667  166838  5628.166667  168845
7   5690.967742  176420  5754.516129  178390
8   5402.161290  167467  5519.709677  171111
9   5937.266667  178118  6038.033333  181141
10  5878.225806  182225  5945.677419  184316
11  5978.300000  179349  6027.833333  180835
12  5986.838710  185592  6004.000000  186124