In [42]:
import pandas as pd

# 美國球賽的小費數據集
tips = pd.read_csv('tips.csv')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   smoker      244 non-null    object
 3   day         244 non-null    object
 4   time        244 non-null    object
 5   size        244 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.6+ KB

In [43]:
# 改變tips的欄位名稱
tips.columns = ['總票價', '小費', '是否吸煙', '日期', '時間', '人數']
tips

       總票價    小費 是否吸煙    日期      時間  人數
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [44]:
# 重新排序欄位的順序
tips = tips[['日期', '時間', '是否吸煙', '人數', '總票價', '小費']]

# 新增一個欄位:小費比列
tips['小費比例'] = tips['小費'] / tips['總票價']
tips

/var/folders/zl/gzwnnj_n1b32md889rt9sx3h0000gn/T/ipykernel_10248/878123239.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips['小費比例'] = tips['小費'] / tips['總票價']

       日期      時間 是否吸煙  人數    總票價    小費      小費比例
0     Sun  Dinner   No   2  16.99  1.01  0.059447
1     Sun  Dinner   No   3  10.34  1.66  0.160542
2     Sun  Dinner   No   3  21.01  3.50  0.166587
3     Sun  Dinner   No   2  23.68  3.31  0.139780
4     Sun  Dinner   No   4  24.59  3.61  0.146808
..    ...     ...  ...  ..    ...   ...       ...
239   Sat  Dinner   No   3  29.03  5.92  0.203927
240   Sat  Dinner  Yes   2  27.18  2.00  0.073584
241   Sat  Dinner  Yes   2  22.67  2.00  0.088222
242   Sat  Dinner   No   2  17.82  1.75  0.098204
243  Thur  Dinner   No   2  18.78  3.00  0.159744

[244 rows x 7 columns]

In [45]:
# 依照日期,建立一個群組
grouped = tips.groupby('日期')
grouped[['小費']].mean()

            小費
日期
Fri   2.734737
Sat   2.993103
Sun   3.255132
Thur  2.771452

In [46]:
# 依據日期和是否吸煙,建立一個群組
grouped1 = tips.groupby(['日期', '是否吸煙'])

# 取得小費的平均值
s1 = grouped1['小費'].mean()

# s1是一個多層索引的Series
# 變成DataFrame
df1 = s1.unstack()
df1

# s1我要unstack,日期在欄位,是否吸煙在索引
df2 = s1.unstack(level='日期')
df2
df2.T

是否吸煙        No       Yes
日期
Fri   2.812500  2.714000
Sat   3.102889  2.875476
Sun   3.167895  3.516842
Thur  2.673778  3.030000

In [47]:
grouped2 = tips.groupby(['日期', '是否吸煙'])
df3 = grouped2['小費'].agg(['mean', 'sum', 'count']).unstack(level='日期')
df3.columns.names = ['統計量', '日期']

# 統計量欄位和日期欄位交換位置
df3.swaplevel(axis=1)

日期,Fri,Sat,Sun,Thur,Fri,Sat,Sun,Thur,Fri,Sat,Sun,Thur
統計量,mean,mean,mean,mean,sum,sum,sum,sum,count,count,count,count
是否吸煙,,,,,,,,,,,,
No,2.8125,3.102889,3.167895,2.673778,11.25,139.63,180.57,120.32,4,45,57,45
Yes,2.7140,2.875476,3.516842,3.030000,40.71,120.77,66.82,51.51,15,42,19,17

In [48]:
grouped2 = tips.groupby(['日期', '是否吸煙'])
df5 = grouped2[['小費','總票價']].agg(['mean','sum','count'])
df5 # 此為 4維資料(四個條件組成的儲存格)

                 小費                      總票價
               mean     sum count       mean      sum count
日期   是否吸煙
Fri  No    2.812500   11.25     4  18.420000    73.68     4
     Yes   2.714000   40.71    15  16.813333   252.20    15
Sat  No    3.102889  139.63    45  19.661778   884.78    45
     Yes   2.875476  120.77    42  21.276667   893.62    42
Sun  No    3.167895  180.57    57  20.506667  1168.88    57
     Yes   3.516842   66.82    19  24.120000   458.28    19
Thur No    2.673778  120.32    45  17.113111   770.09    45
     Yes   3.030000   51.51    17  19.190588   326.24    17

In [49]:
# 改為中文
grouped2 = tips.groupby(['日期', '是否吸煙'])
df5 = grouped2[['小費','總票價']].agg([('平均','mean'),('總和','sum'),('數量','count')])
df5

                 小費                    總票價
                 平均      總和  數量         平均       總和  數量
日期   是否吸煙
Fri  No    2.812500   11.25   4  18.420000    73.68   4
     Yes   2.714000   40.71  15  16.813333   252.20  15
Sat  No    3.102889  139.63  45  19.661778   884.78  45
     Yes   2.875476  120.77  42  21.276667   893.62  42
Sun  No    3.167895  180.57  57  20.506667  1168.88  57
     Yes   3.516842   66.82  19  24.120000   458.28  19
Thur No    2.673778  120.32  45  17.113111   770.09  45
     Yes   3.030000   51.51  17  19.190588   326.24  17

In [ ]:
# .agg指的是聚合
grouped3 = tips.groupby(['日期', '是否吸煙'])
grouped3[['小費']].agg([('平均','mean')])

                 小費
                 平均
日期   是否吸煙
Fri  No    2.812500
     Yes   2.714000
Sat  No    3.102889
     Yes   2.875476
Sun  No    3.167895
     Yes   3.516842
Thur No    2.673778
     Yes   3.030000