In [4]:
import pandas as pd # 載入 pandas 套件

df1 = pd.read_csv('上市公司資料.csv') # 讀取 CSV 檔案
df2 = df1[['出表日期','資料年月','公司代號','公司名稱','產業別']] # 篩選特定欄位
df2.shape # 查看資料形狀
df2.dtypes # 查看欄位資料型態
df2.size # 查看資料總數

4195

In [3]:
df2.loc[:5] # 前五筆資料
df2.iloc[-5:] # 後五筆資料
df2.iloc[-5:][['公司名稱','產業別']] # 後五筆資料的公司名稱與產業別

    公司名稱   產業別
834   茂順    其他
835  好樂迪  觀光事業
836   新麗    其他
837   佳龍    其他
838  世紀鋼  鋼鐵工業