In [9]:
import main as tools
final_dataFrame = tools.all_data_concat()
print(final_dataFrame.info())
final_dataFrame.head()

<class 'pandas.core.frame.DataFrame'>
Index: 406761 entries, 173648 to 406760
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   乘車日期    406761 non-null  int64
 1   車站代碼    406761 non-null  int64
 2   進站人數    406761 non-null  int64
 3   出站人數    406761 non-null  int64
 4   車站名稱    406761 non-null  object
 5   車站地址    406761 non-null  object
dtypes: int64(4), object(2)
memory usage: 21.7+ MB
None

            乘車日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址
173648  20190423  6100    22    16   東里  花蓮縣富里鄉東里村大莊路 15 之 6 號
173623  20190423  5070   533   424   南州      屏東縣南州鄉仁里村仁里路 86 號
173624  20190423  5080    15    14   鎮安       屏東縣林邊鄉鎮安村永和路 4 號
173625  20190423  5090   368   325   林邊      屏東縣林邊鄉仁和村仁愛路 33 號
173626  20190423  5100    95    95   佳冬        屏東縣佳冬鄉六根村復興路21號

In [10]:
import pandas as pd

final_dataFrame['乘車日期'] = pd.to_datetime(final_dataFrame['乘車日期'], format='%Y%m%d')
final_dataFrame.head()

             乘車日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址
173648 2019-04-23  6100    22    16   東里  花蓮縣富里鄉東里村大莊路 15 之 6 號
173623 2019-04-23  5070   533   424   南州      屏東縣南州鄉仁里村仁里路 86 號
173624 2019-04-23  5080    15    14   鎮安       屏東縣林邊鄉鎮安村永和路 4 號
173625 2019-04-23  5090   368   325   林邊      屏東縣林邊鄉仁和村仁愛路 33 號
173626 2019-04-23  5100    95    95   佳冬        屏東縣佳冬鄉六根村復興路21號

In [13]:
final_dataFrame.groupby("車站名稱")[["進站人數","出站人數"]].sum()

         進站人數     出站人數
車站名稱
七堵    9044563  9115329
三坑    2080517  2140894
三塊厝    786111   824381
三姓橋   1760760  1594509
三民      12535    18652
...       ...      ...
鼓山     469414   476151
龍井     596686   589722
龍泉      24965    30795
龍港      30146    38335
龜山     141198   134504

[241 rows x 2 columns]

In [14]:
# 如何groupby多欄位,依據年份groupby
final_dataFrame['year'] = final_dataFrame['乘車日期'].dt.year
df1 = final_dataFrame.groupby(['year',"車站名稱"])[["進站人數","出站人數"]].sum()
df1

              進站人數     出站人數
year 車站名稱
2019 七堵    1512951  1560506
     三坑     342775   347841
     三塊厝    105842   111863
     三姓橋    288098   260777
     三民       2435     2994
...            ...      ...
2023 鼓山     165055   168011
     龍井     155439   157385
     龍泉       6263     8246
     龍港       8662     9633
     龜山      29966    29613

[1198 rows x 2 columns]

In [15]:
df2 = df1.unstack(level="year")
df2

           進站人數                                                   出站人數  \
year       2019       2020       2021       2022       2023       2019
車站名稱
七堵    1512951.0  2023475.0  1619233.0  1764417.0  2124487.0  1560506.0
三坑     342775.0   457042.0   372260.0   411286.0   497154.0   347841.0
三塊厝    105842.0   147363.0   149138.0   173337.0   210431.0   111863.0
三姓橋    288098.0   386310.0   307925.0   345589.0   432838.0   260777.0
三民       2435.0     2748.0     2236.0     1985.0     3131.0     2994.0
...         ...        ...        ...        ...        ...        ...
鼓山      50962.0    72794.0    73043.0   107560.0   165055.0    52786.0
龍井     100128.0   129583.0   106212.0   105324.0   155439.0    97880.0
龍泉       4115.0     5827.0     4542.0     4218.0     6263.0     4960.0
龍港       4413.0     5581.0     5394.0     6096.0     8662.0     5417.0
龜山      26408.0    33665.0    23193.0    27966.0    29966.0    25265.0


year       2020       2021       2022       2023
車站名稱
七堵    2055442.0  1594220.0  1776557.0  2128604.0
三坑     466250.0   383427.0   422225.0   521151.0
三塊厝    160297.0   155794.0   178429.0   217998.0
三姓橋    345666.0   276783.0   312076.0   399207.0
三民       4164.0     3699.0     3535.0     4260.0
...         ...        ...        ...        ...
鼓山      75636.0    72945.0   106773.0   168011.0
龍井     126229.0   103974.0   104254.0   157385.0
龍泉       6710.0     4841.0     6038.0     8246.0
龍港       7490.0     7578.0     8217.0     9633.0
龜山      32326.0    22534.0    24766.0    29613.0

[241 rows x 10 columns]