In [ ]:
import pandas as pd
world_data = pd.read_csv('world.csv')
print(world_data.columns)
print(world_data.info())

In [ ]:
#reindex 重新排列欄位順序
world_data1 = world_data.reindex(columns=['洲名', '國家', '日期', '面積', '人口密度'])
world_data1

In [ ]:
# 使用布林遮罩篩選出「國家」欄位為「台灣」的資料

mask_taiwan= world_data1['國家']=='台灣' # 篩選出國家是台灣的列
world_data_taiwan = world_data1[mask_taiwan]  # 取得台灣的資料
world_data_taiwan

In [ ]:
#dataframe的實體裡有query方法，可以直接用query方法來篩選資料
# df.query(expr, inplace=False, **kwargs)
# expr: 欄位名稱(字串)
# inplace: 是否直接在原本的dataframe做修改，預設為False

world_data_taiwan= world_data1.query("國家=='台灣'")
world_data_taiwan

In [ ]:
# 篩選出「國家」欄位為「台灣」且「新增確診數」欄位為0的資料
taiwan1 = world_data.query("國家 == '台灣' and 新增確診數 == 0")
taiwan1

In [ ]:
# 找出台灣「新增確診數」的最高值，並篩選出該筆資料
taiwan_max = world_data_taiwan['新增確診數'].max()
taiwan_max_row = world_data_taiwan.query("新增確診數 == @taiwan_max")
taiwan_max_row

In [22]:
world_data_taiwan.query("日期 >= '2022-01-01' and 日期 <= '2022-01-31'")

        洲名  國家          日期  面積  人口密度
164702  亞洲  台灣  2022-01-01 NaN   NaN
164703  亞洲  台灣  2022-01-02 NaN   NaN
164704  亞洲  台灣  2022-01-03 NaN   NaN
164705  亞洲  台灣  2022-01-04 NaN   NaN
164706  亞洲  台灣  2022-01-05 NaN   NaN
164707  亞洲  台灣  2022-01-06 NaN   NaN
164708  亞洲  台灣  2022-01-07 NaN   NaN
164709  亞洲  台灣  2022-01-08 NaN   NaN
164710  亞洲  台灣  2022-01-09 NaN   NaN
164711  亞洲  台灣  2022-01-10 NaN   NaN
164712  亞洲  台灣  2022-01-11 NaN   NaN
164713  亞洲  台灣  2022-01-12 NaN   NaN
164714  亞洲  台灣  2022-01-13 NaN   NaN
164715  亞洲  台灣  2022-01-14 NaN   NaN
164716  亞洲  台灣  2022-01-15 NaN   NaN
164717  亞洲  台灣  2022-01-16 NaN   NaN
164718  亞洲  台灣  2022-01-17 NaN   NaN
164719  亞洲  台灣  2022-01-18 NaN   NaN
164720  亞洲  台灣  2022-01-19 NaN   NaN
164721  亞洲  台灣  2022-01-20 NaN   NaN
164722  亞洲  台灣  2022-01-21 NaN   NaN
164723  亞洲  台灣  2022-01-22 NaN   NaN
164724  亞洲  台灣  2022-01-23 NaN   NaN
164725  亞洲  台灣  2022-01-24 NaN   NaN
164726  亞洲  台灣  2022-01-25 NaN   NaN
164727  亞洲  台灣  2022-01-26 NaN   NaN
164728  亞洲  台灣  2022-01-27 NaN   NaN
164729  亞洲  台灣  2022-01-28 NaN   NaN
164730  亞洲  台灣  2022-01-29 NaN   NaN
164731  亞洲  台灣  2022-01-30 NaN   NaN
164732  亞洲  台灣  2022-01-31 NaN   NaN