In [1]:
import os
# 取得目前工作目錄
current_directory = os.getcwd() # cwd = current working directory
print("目前工作目錄:", current_directory)

目前工作目錄: /Users/ylo/github/python_ai_2/1041211_lesson18

In [2]:
# 絕對路徑
# 取得該目錄下的`data`資料夾內的`每日各站進出站人數2020.csv`檔案路徑
file_path = os.path.join(current_directory, "data", "每日各站進出站人數2020.csv")

print(file_path)

/Users/ylo/github/python_ai_2/1041211_lesson18/data/每日各站進出站人數2020.csv

In [3]:
import pandas as pd
data = pd.read_csv(file_path)
data

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20200101      900             7552             8154
1       20200101      910             1020             1135
2       20200101      920             1623             1972
3       20200101      930             4130             4813
4       20200101      940             1818             2128
...          ...      ...              ...              ...
86927   20201231     7360             3523             3602
86928   20201231     7361                3               18
86929   20201231     7362               28               34
86930   20201231     7380              609              604
86931   20201231     7390              377              444

[86932 rows x 4 columns]

In [4]:
# 重新命名欄位 ;dataframe.rename()
import pandas as pd
data = pd.read_csv(file_path)
data1 = data.rename(columns={"trnOpDate":"乘車日期",
                            "staCode":"車站代碼",
                            "gateInComingCnt":"進站人數",
                            "gateOutGoingCnt":"出站人數"})
data1.head()

       乘車日期  車站代碼  進站人數  出站人數
0  20200101   900  7552  8154
1  20200101   910  1020  1135
2  20200101   920  1623  1972
3  20200101   930  4130  4813
4  20200101   940  1818  2128

In [5]:
# 取得目前工作目錄
current_directory = os.getcwd()

# 取得該目錄下的`data`資料夾內的`每日各站進出站人數2020.csv`檔案路徑
station_path = os.path.join(current_directory, "data", "台鐵車站資訊.csv")

print(station_path)

/Users/ylo/github/python_ai_2/1041211_lesson18/data/台鐵車站資訊.csv

In [ ]:
# 這是dataframe
station_data = pd.read_csv(station_path)
station_data
station_data1 = station_data[['stationCode','stationName','stationAddrTw']]
station_data2 = station_data1.rename(columns={"stationCode":"車站代碼",
                                          "stationName":"車站名稱",
                                          "stationAddrTw":"車站地址"})
station_data2.head()

   車站代碼 車站名稱                   車站地址
0   900   基隆            基隆市仁愛區港西街5號
1   910   三坑     基隆市仁愛區德厚里龍安街 206 號
2   920   八堵     基隆市暖暖區八南里八堵路 142 號
3   930   七堵       基隆市七堵區長興里東新街 2 號
4   940   百福  基隆市七堵區堵南里明德三路 1 之 1 號