In [1]:
import numpy as np
import pandas as pd

students = np.random.randint(50, high=101, size=(50, 5))
students_df = pd.DataFrame(data=students,
            index=[f"學生{i}" for i in range(1,51)],
            columns=['國文','英文','數學','地理','歷史'])
students_df

      國文  英文  數學  地理  歷史
學生1   64  89  81  84  75
學生2   78  61  59  93  82
學生3   94  70  55  57  60
學生4   82  68  59  85  82
學生5   54  97  99  90  52
學生6   67  50  98  56  99
學生7   98  81  69  59  90
學生8   77  95  66  89  91
學生9   83  59  76  95  70
學生10  66  53  91  88  94
學生11  79  80  99  78  91
學生12  81  69  55  51  94
學生13  60  61  78  57  85
學生14  90  99  82  67  63
學生15  61  64  70  70  87
學生16  56  77  62  63  53
學生17  96  72  86  71  94
學生18  81  99  65  59  97
學生19  84  97  78  87  62
學生20  99  67  82  99  84
學生21  52  91  58  55  64
學生22  98  82  85  82  68
學生23  72  61  76  90  96
學生24  58  96  58  54  60
學生25  96  59  74  86  54
學生26  94  94  60  98  77
學生27  71  63  64  62  90
學生28  56  62  82  62  88
學生29  61  93  62  97  95
學生30  98  58  55  66  66
學生31  54  83  52  85  91
學生32  82  99  78  78  86
學生33  85  53  53  85  61
學生34  76  52  97  70  57
學生35  67  98  98  96  92
學生36  81  57  90  52  59
學生37  96  64  56  82  84
學生38  61  93  94  64  52
學生39  91  67  52  79  72
學生40  68  58  67  68  67
學生41  60  64  77  86  63
學生42  78  57  54  53  91
學生43  57  71  94  80  66
學生44  78  93  60  52  66
學生45  65  58  65  82  87
學生46  99  91  91  69  56
學生47  87  68  90  67  58
學生48  78  64  99  96  79
學生49  74  86  89  53  62
學生50  81  50  83  73  50

In [2]:
new_students = students_df.copy()
sum_series = np.sum(students_df,axis=1)
mean_series = np.mean(students_df,axis=1)
new_students['總分'] = sum_series
new_students['平均'] = mean_series
new_students

      國文  英文  數學  地理  歷史   總分    平均
學生1   64  89  81  84  75  393  78.6
學生2   78  61  59  93  82  373  74.6
學生3   94  70  55  57  60  336  67.2
學生4   82  68  59  85  82  376  75.2
學生5   54  97  99  90  52  392  78.4
學生6   67  50  98  56  99  370  74.0
學生7   98  81  69  59  90  397  79.4
學生8   77  95  66  89  91  418  83.6
學生9   83  59  76  95  70  383  76.6
學生10  66  53  91  88  94  392  78.4
學生11  79  80  99  78  91  427  85.4
學生12  81  69  55  51  94  350  70.0
學生13  60  61  78  57  85  341  68.2
學生14  90  99  82  67  63  401  80.2
學生15  61  64  70  70  87  352  70.4
學生16  56  77  62  63  53  311  62.2
學生17  96  72  86  71  94  419  83.8
學生18  81  99  65  59  97  401  80.2
學生19  84  97  78  87  62  408  81.6
學生20  99  67  82  99  84  431  86.2
學生21  52  91  58  55  64  320  64.0
學生22  98  82  85  82  68  415  83.0
學生23  72  61  76  90  96  395  79.0
學生24  58  96  58  54  60  326  65.2
學生25  96  59  74  86  54  369  73.8
學生26  94  94  60  98  77  423  84.6
學生27  71  63  64  62  90  350  70.0
學生28  56  62  82  62  88  350  70.0
學生29  61  93  62  97  95  408  81.6
學生30  98  58  55  66  66  343  68.6
學生31  54  83  52  85  91  365  73.0
學生32  82  99  78  78  86  423  84.6
學生33  85  53  53  85  61  337  67.4
學生34  76  52  97  70  57  352  70.4
學生35  67  98  98  96  92  451  90.2
學生36  81  57  90  52  59  339  67.8
學生37  96  64  56  82  84  382  76.4
學生38  61  93  94  64  52  364  72.8
學生39  91  67  52  79  72  361  72.2
學生40  68  58  67  68  67  328  65.6
學生41  60  64  77  86  63  350  70.0
學生42  78  57  54  53  91  333  66.6
學生43  57  71  94  80  66  368  73.6
學生44  78  93  60  52  66  349  69.8
學生45  65  58  65  82  87  357  71.4
學生46  99  91  91  69  56  406  81.2
學生47  87  68  90  67  58  370  74.0
學生48  78  64  99  96  79  416  83.2
學生49  74  86  89  53  62  364  72.8
學生50  81  50  83  73  50  337  67.4