In [1]:
from tools import all_data_concat
import pandas as pd 

all_data = all_data_concat()
# 欄位`乘車日期`是數字格式,要轉成日期格式
all_data['乘車日期'] = pd.to_datetime(all_data['乘車日期'], format='%Y%m%d')

# 取出日期的年份,建立一個新的欄位`年份`
all_data['年份'] = all_data['乘車日期'].dt.year

# 取出期期的月份,建立一個新的欄位`月份`
all_data['月份'] = all_data['乘車日期'].dt.month
all_data.head()

             乘車日期  車站代碼  進站人數  出站人數 車站名稱                   車站地址    年份  月份
173648 2019-04-23  6100    22    16   東里  花蓮縣富里鄉東里村大莊路 15 之 6 號  2019   4
173623 2019-04-23  5070   533   424   南州      屏東縣南州鄉仁里村仁里路 86 號  2019   4
173624 2019-04-23  5080    15    14   鎮安       屏東縣林邊鄉鎮安村永和路 4 號  2019   4
173625 2019-04-23  5090   368   325   林邊      屏東縣林邊鄉仁和村仁愛路 33 號  2019   4
173626 2019-04-23  5100    95    95   佳冬        屏東縣佳冬鄉六根村復興路21號  2019   4

In [2]:
group = all_data.groupby(['車站名稱','年份','月份'])[['進站人數','出站人數']]
group.agg(['mean','sum'])

                     進站人數                 出站人數
                     mean     sum         mean     sum
車站名稱 年份   月份
七堵   2019 4   5838.875000   46711  5977.125000   47817
          5   6012.903226  186400  6160.806452  190985
          6   5795.100000  173853  5908.066667  177242
          7   5889.322581  182569  6135.419355  190198
          8   5569.258065  172647  5763.806452  178678
...                   ...     ...          ...     ...
龜山   2023 8     74.774194    2318    76.709677    2378
          9     79.933333    2398    79.766667    2393
          10    85.806452    2660    86.096774    2669
          11    85.433333    2563    86.466667    2594
          12    99.709677    3091    90.129032    2794

[13619 rows x 4 columns]

In [3]:
def top(df,n=3,column='進站人數'):
    return df.sort_values(by=column,ascending=False).head(n)
group.apply(top)

                     進站人數  出站人數
車站名稱 年份   月份
七堵   2019 4  174188  6635  7042
             175140  6281  6454
             174902  6221  6219
          5  179181  7075  7568
             180850  6984  7376
...                   ...   ...
龜山   2023 11 398912   107    83
             396776   106   100
          12 401283   255   287
             406502   226   146
             406740   214   159

[40843 rows x 2 columns]